{%extends 'base.html'%}
{% block content %}
<h1>About BabelBot</h1>
<img src="{% static 'images/BabelBottranslate.png' %}" alt="BabelBot Logo" />
<hr/>
<p>BabelBot is a language translation application that allows users to communicate in different languages. It uses advanced machine learning algorithms to provide accurate translations in real-time.</p>
<p>Our mission is to break down language barriers and connect people from all over the world. Whether you're traveling, working, or just want to learn a new language, BabelBot is here to help.</p>
{% endblock %}