{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}
<div class="account-section">
  <div class="account-content-wrapper">
  <div class="account-content">
<h2>
  Welcome, {{ user.username}}
</h2>
<div class="card">
  <h2>User Account</h2>
  <div class="account-content">
    <p class="placeholder-text">User Account Template</p>
    <!--Display Profile Info-->
    <div class="profile-display">
    <p>
      Email:
      {{user.email}}
    </p>
    <p>Preferred Language
    {{user.profile.interfaced_language}}
  </p>
    <p>Default Translation:
    {{user.profile.source_language}}
    {{user.profile.target_language}}
  </p>
 <div>
  <!--Edit Profile Form-->
  <h2>Edit Profile</h2>
  <form method= "post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Edit Account</button>
  </form>
</div>
<!--Delete Account-->
<h2>Delete Account</h2>
<form method="post" onsubmit="return confirm"('Are you sure you want to delete your account?');>
  {% csrf_token %}
<button type="submit" class="btn btn-primary">Delete Account</button>
</div>
{% endblock %} 